player-connection-mode=Connect
player-connection-guid=1190688666
player-connection-debug=0
player-connection-project-name=Testing
player-connection-wait-timeout=-1
player-connection-ip=192.168.195.130
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3f5f66ff7f8d4c63a43fe5ce011335e7
