player-connection-mode=Connect
player-connection-guid=660372208
player-connection-debug=0
player-connection-project-name=Testing
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.108
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b3a7572050f04edb8acb59c7c989a706
